<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create new Product</h1>
<p><a href="/product-list">Back to list</a></p>
<p th:if="${mess}">
    <span th:text="${mess}"></span>
</p>
<form action="/product-create" method="post" th:object="${product}">
    <table border="1">
        <tr>
            <td>Code:</td>
            <td><input type="text" th:field="*{product_code}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{product_name}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Company:</td>
            <td><input type="text" th:field="*{company}"></td>
        </tr>
        <tr>
            <td>Produced:</td>
            <td><input type="text" th:field="*{produced}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Discount:</td>
            <td><input type="text" th:field="*{discount}"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <select th:field="*{category}">
                    <option th:each="p : ${category}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Product"></td>
        </tr>
    </table>
</form>
</body>
</html>